@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import "tailwindcss";

/* Remove default margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


:root {
  --bg-color: #f9fafb;
  --text-color: #111827;
  --card-color: #ffffff;
  --header-bg: #ffffff;
  --header-text: #111827;
}

.dark {
  --bg-color: #111827;
  --text-color: #f9fafb;
  --card-color: #1f2937;
  --header-bg: #1f2937;
  --header-text: #f9fafb;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.theme-box {
  background-color: var(--card-color);
  color: var(--text-color);
  border-color: "rgba(100, 116, 139, 0.2)";
}
